# Expo (Frontend)
frontend/.expo/
frontend/dist/
frontend/web-build/
frontend/expo-env.d.ts

# Dependencies (Frontend)
frontend/node_modules/
frontend.pnp
frontend.pnp.js

# Testing (Frontend)
frontend/coverage/

# Production (Frontend)
frontend/build/
frontend/*.jsbundle

# Misc (General)
.DS_Store
*.pem

# Debug (General)
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local env files (General)
.env*.local
.env

# Vercel (General)
.vercel

# TypeScript (Frontend)
frontend/*.tsbuild*

# IDE (General)
.vscode/
.idea/
*.swp
*.swo
*~

# OS (General)
.DS_Store
Thumbs.db

# Android (Frontend)
frontend/*.apk
frontend/*.aab
frontend/*.ap_
frontend/*.dex
frontend/*.class
frontend/bin/
frontend/gen/
frontend/out/
frontend.gradle/
frontend/build/
frontend/local.properties
frontend/*.iml
frontend.idea/
frontend.*.hprof
frontend.cxx/
frontend/*.keystore
!frontend.debug.keystore

# iOS (Frontend)
frontend/*.pbxuser
!frontend.default.pbxuser
frontend.*.mode1v3
!frontend.default.mode1v3
frontend.*.mode2v3
!frontend.default.mode2v3
frontend.*.perspectivev3
!frontend.default.perspectivev3
frontend.xcuserdata/
frontend.*.xccheckout
frontend.*.moved-aside
frontend.DerivedData
frontend.*.hmap
frontend.*.ipa
frontend.xcuserstate
frontend/ios/.xcode.env.local

# macOS (General)
.DS_Store

# Temporary files (General)
*.tmp
*.temp
*.log


# Backend (Flask)
# Python virtual environment
backend/venv/
backend/.env

# Flask and Python-related files
__pycache__/
*.pyc
backend/__pycache__/
backend/*.pyc
backend/*.pyo
backend/*.pyd

# IDE (for backend)
backend/.vscode/
backend/.idea/
backend/*.swp
backend/*.swo
backend*~

# OS files (for backend)
backend/.DS_Store
backend/Thumbs.db

# Logs
backend/*.log

# Local env files (for backend)
backend/.env*
backend/.flaskenv

# Database (if using SQLite for example)
backend/*.db
backend/*.sqlite3

# Temporary files (for backend)
backend/*.tmp
backend/*.temp
node_modules


# Claude
.claude/